
config/.local_store

*.sublime-workspace

starterpack.sublime-project

config/.apex_script

config/.debug

config/.describe

config/.session

config/.settings

starterpack.sublime-settings
*.xml
src/classes/CommunityGroupCreateController.cls-meta.xml
*.bak
